@font-face {
    font-family: "San Francisco";
    src: url("https://developer.apple.com/fonts/downloads/SF-Pro.dmg") format("truetype");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'San Francisco', sans-serif;
  }
  

body {
    background: #090909;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #e100ffef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
}

.navbar a:hover, 
.navbar a.active {
    color: #090909;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 700px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #e100ffef;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 20px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #e100ffef;
    border: 2px solid #e100ffef;
    border-radius: 8px;
    font-size: 19px;
    color: #090909;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #e100ffef;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #e100ffef;
}

.btn-box a:nth-child(2):hover {
    color: #090909;
}

.btn-box a:nth-child(2)::before {
    background: #e100ffef;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #090909;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ff0000;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
}

.loginbtn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.loginbtn:hover {
    background: #fff;
    color: #081b29;
}

.btnb a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 8px;
    font-size: 19px;
    color: #090909;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btnb a:hover {
    color: #ff0000;
}

.btnb a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #090909;
    z-index: -1;
    transition: .5s;
}

.btnb a:hover::before {
    width: 100%;
}

p {
    color: #00abf0;
}