@font-face {
    font-family: "San Francisco";
    src: url("https://developer.apple.com/fonts/downloads/SF-Pro.dmg") format("truetype");
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'San Francisco', sans-serif;
  }

body {
    background: #090909;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(221, 0, 221);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    transition: .3s;
}

.navbar a:hover, 
.navbar a.active {
    color: #000000;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h2 {
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: rgb(221, 0, 221);
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 20px;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: #323946;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #323946;
    min-width: 500px;
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: rgb(221, 0, 221);
    transform: scale(1.02);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: rgb(221, 0, 221);
    border-radius: 4rem;
    box-shadow: 0 0 1rem rgb(221, 0, 221);
    font-size: 1.6rem;
    color: #081b29;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    text-decoration: none;
}

.btn:hover {
    box-shadow: none;
}